@model IEnumerable<vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>
<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Customer</th>
            <th scope="col">Discount Rate</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var customer in Model)
            {   <tr>
                    @*<td>
                        <a href='/customer/details/@customer.Id'>@customer.Name</a>
                    </td>*@
                    <td>
                        @Html.ActionLink(customer.Name, "Edit", "Customer", new {id=customer.Id}, null)
                    </td>
                    <td>
                        @customer.MembershipType.Name
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

